@import '../../../node_modules/swiper/css/swiper.min.css';

@font-face{
  font-family: 'PermanentMarker';
  src: url('../fonts/PermanentMarker-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$color-text-card-film: #c0c1d8;
$color-text-description-film: #83838a;
$color-text-rating-film: #7472d3;
$background-color-fon-films: #1a1a20;
$background-color-no-rating-block: #2b2e3e;
$background-color-rating-block: #dea336;
$background-color-rating-text-block: #25252C;
$background-color-modal-window: #0b0d2e;
$color-border-film-poster: #4e4646;

* {
  box-sizing: border-box;
  font-family: Roboto-Regular, sans-serif;
}

html {
  font-size: 15px;
}

.container {
  display: grid;
  min-height: 100vh;
  position: relative;
  grid-template-columns:auto auto auto;
  grid-template-rows: 8% auto 8%;
  grid-template-areas:
    ". header ."
    ". main ."
    ". footer .";
  background: rgba(11, 11, 19, 0.89);

  .main-modal_window_block {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    background-color: #2b2e3edc;

    &.hidden {
      display: none;
    }

    .modal_window {
      z-index: 5;
      min-width: 620px;
      padding: 10px;
      border-radius: 10px;
      background-color: $background-color-modal-window;

      .slide-element {
        display: flex;
        align-items: center;
        width: 600px;

        .fillm-info-short{
          display: none;
        }
        .fillm-info-full{
          display: block;
          width: 300px;
          padding: 5px;
          color: #f5e0c2;

          .film-link {
            color: $color-text-card-film;
            font-family: Roboto-Bold, sans-serif;
            font-size: 1.2rem;
            word-wrap: normal;
            text-decoration: none;

            &:hover {
              color:#367ae0;
              text-decoration: underline;
            }

            &:active {
              color:#616ac0;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.header {
  position: relative;
  display: flex;
  grid-area: header;
  justify-items:start;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  background: #ada4a4;
  background-image: url(../icon/background-images.png);
  border: 5px solid #0c0c0c59;
  border-bottom: none;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  .header-link {
    text-decoration: none;
    .header-title{
      color: #090a22;
      text-align: center;
      font-size: 3rem;
      font-family: PermanentMarker ,sans-serif;
      text-decoration: none;
    }
  }

  .bookmark-menu {
    position: absolute;
    top: -11px;
    right: 0;
    display: flex;

    &.hidden {
      opacity: 0;
      transition: 0.3s;
    }

    .menu-item_main {
      margin-top: 14px;
      margin-right: 15px;
      width: 27px;
      height: 24px;
      background-size: cover;
      background-image: url(../icon/bookmark-main.png);

      &:hover {
        cursor: pointer;
      }

      &.hidden {
        opacity: 0;
        transition: 0.3s;
      }
    }

    .menu-item_clear {
     margin-top: 14px;
     margin-right: 15px;
     width: 27px;
     height: 24px;
     background-size: cover;
     background-image: url(../icon/bookmark-clear.png);

     &:hover {
      cursor: pointer;
      }

      &.hidden {
        opacity: 0;
        transition: 0.3s;
      }
    }

    .menu-item_bookmark {
      width: 40px;
      height: 40px;
      margin-right: 20px;
      background-size: cover;
      background-image: url(../icon/bookmark_header.png);
      transition: 0.3s;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.main {
  grid-area: main;
  display: flex;
  align-content: flex-end;
  flex-direction: column;

  .main-search_block{
    display: flex;
    justify-content: center;
    padding: 40px 20px;

    .form{
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;

      .form-input_container{
        position: relative;
        float: left;
        width: 80%;

        .form-input{
          width: 99%;
          height: 45px;
          padding: 5px 15px;
          border-radius: 25px;
          outline: none;
          outline-style: none;
          font-size: 1.5rem;

          &:hover {
            -webkit-box-shadow: 3px 2px 33px 2px rgba(24,20,133,0.66);
            -moz-box-shadow: 3px 2px 33px 2px rgba(24,20,133,0.66);
            box-shadow: 3px 2px 33px 2px rgba(24,20,133,0.66);
            border-color: rgb(214, 169, 175);
            transition: all 0.2s ease;
          }

          &:active {
            border: 2px solid rgb(42, 58, 211);
            transition: 0.3s;
          }
        }

        .form-input_loader{
          position: absolute;
          top: 9px;
          right: 53px;
          height: 25px;
          width: 25px;
          background-image: url(../icon/loader.png);
          background-size: cover;
          cursor: pointer;
        }
        @keyframes rotate {
          from {
            transform: rotate(360deg);
          }
        }

        .displayload {
            animation: rotate 0.4s linear infinite;
            transition: all 0.5s ease;
        }

        .form-button_clear{
          position: absolute;
          top: 8px;
          right: 24px;
          height: 0;
          width: 0;
          background: #ffffff;
          border:none;
          outline: none;
          cursor: pointer;
        }

        .form-button_clear::after{
          content: url(../icon/btn-clear.png);
          position: absolute;
          top: -1px;
          left: -16px;
        }
      }

      .form-button_find{
        height: 45px;
        padding-left: 15px;
        padding-right: 15px;
        font-family: Roboto-Bold, sans-serif;
        font-size: 1.8rem;
        border-radius: 22px;
        cursor: pointer;
        outline: none;

        background: rgba(216,5,235,1);
        background: -moz-linear-gradient(45deg, rgba(216,5,235,1) 0%, rgba(90,78,181,0.88) 21%, rgba(237,3,3,0.78) 38%, rgba(237,3,3,0.73) 47%, rgba(216,5,235,0.57) 74%, rgba(255,255,255,0.42) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(216,5,235,1)), color-stop(21%, rgba(90,78,181,0.88)), color-stop(38%, rgba(237,3,3,0.78)), color-stop(47%, rgba(237,3,3,0.73)), color-stop(74%, rgba(216,5,235,0.57)), color-stop(100%, rgba(255,255,255,0.42)));
        background: -webkit-linear-gradient(45deg, rgba(216,5,235,1) 0%, rgba(90,78,181,0.88) 21%, rgba(237,3,3,0.78) 38%, rgba(237,3,3,0.73) 47%, rgba(216,5,235,0.57) 74%, rgba(255,255,255,0.42) 100%);
        background: -o-linear-gradient(45deg, rgba(216,5,235,1) 0%, rgba(90,78,181,0.88) 21%, rgba(237,3,3,0.78) 38%, rgba(237,3,3,0.73) 47%, rgba(216,5,235,0.57) 74%, rgba(255,255,255,0.42) 100%);
        background: -ms-linear-gradient(45deg, rgba(216,5,235,1) 0%, rgba(90,78,181,0.88) 21%, rgba(237,3,3,0.78) 38%, rgba(237,3,3,0.73) 47%, rgba(216,5,235,0.57) 74%, rgba(255,255,255,0.42) 100%);
        background: linear-gradient(45deg, rgba(216,5,235,1) 0%, rgba(90,78,181,0.88) 21%, rgba(237,3,3,0.78) 38%, rgba(237,3,3,0.73) 47%, rgba(216,5,235,0.57) 74%, rgba(255,255,255,0.42) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d805eb', endColorstr='#ffffff', GradientType=1 );

        &:hover{
          -webkit-box-shadow: 3px 2px 33px 2px rgba(24,20,133,0.66);
          -moz-box-shadow: 3px 2px 33px 2px rgba(24,20,133,0.66);
          box-shadow: 3px 2px 33px 2px rgba(24,20,133,0.66);
          border-color: rgb(214, 169, 175);
          transition: 0.2s;
        }
      }

      .form-label{
        display: block;
        height: 17px;
        padding-top: 20px;
        padding-left: 60px;
        font-family: Roboto-Regular, sans-serif;
        font-size: 1.2rem;
        text-align: center;
       }

      .error {
          color: #f17171;
      }

      .message {
          color: #8987e8;
      }

       .hidden{
          opacity: 0;
      }
    }
  }

  .swiper-container {
    position: relative;
    width: 80vw;
    height: 59vh;
    min-height: 400px;
    overflow: hidden;
    background-color: $background-color-fon-films;
    border-radius: 50px;
   }

   .swiper-slide{
     display: flex;
     align-content: center;
     justify-content: center;
   }

    .slide-element{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      .fillm-info-full{
        display: none;
      }

      .film-link{
        text-decoration: none;

        .film-title:hover {
          color:#367ae0;
          text-decoration: underline;
        }

        .film-title:active {
          color:#616ac0;
          text-decoration: underline;
        }

        .film-title{
          max-width: 200px;
          overflow: hidden;
          color: $color-text-card-film;
          font-family: Roboto-Bold, sans-serif;
          font-size: 1.1rem;
          white-space: nowrap;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .film-poster{
        position: relative;
        width: 200px;
        height: 300px;
        overflow: hidden;
        text-align: center;
        object-fit: cover;
        background: #070707;
        cursor: pointer;

        .film-poster_image{
          width: 100%;
          height: 100%;
          overflow: hidden;
          object-fit: cover;
          border: 1px solid $color-border-film-poster;
        }

        .film-poster_bookmark {
          position: absolute;
          top: -7px;
          left: 147px;
          width: 50px;
          height: 50px;
          z-index: 2;
          background-image: url(../icon/bookmark_off.png);
          background-size: cover;
          &:hover{
            top:0;
            background-image: url(../icon/bookmark_focus.png);
            transition: 0.2s;
          }
        }

        .film-poster_bookmark.in-bookmark {
          background-image: url(../icon/bookmark_on.png);
        }
      }

      .film-info {
        width: 200px;
        overflow: hidden;
        color: $color-text-description-film;
        font-size: 0.8rem;
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .film-genre {
        width: 200px;
        height: 10px;
        overflow: hidden;
        color: $color-text-description-film;
        font-size: 0.75rem;
        text-align: left;
        text-overflow: ellipsis;
      }
      .film-rating {
        position: relative;
        width: 200px;
        margin-top: 15px;
        overflow: hidden;
        text-align: center;

          .film-rating-background {
            position: absolute;
            top: 0;
            z-index: 1;
            width: 200px;
            height: 20px;
            background-color: $background-color-rating-block;
          }

          .film-rating-background.no-rating {
            background-color:$background-color-no-rating-block;
          }

          .film-rating-star {
            position: absolute;
            z-index: 2;
            width: 200px;
            height: 20px;
            background-image: url(../image/films/rating_star.png);
          }

          .film-rating-text {
            display: inline-block;
            margin-top: 20px;
            color: $color-text-rating-film;
            font-size: 24px;
            background-color: $background-color-rating-text-block;
            border-radius: 5px;
            border: 1px solid #1a1a1f;
          }
     }
  }
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(../icon/background-images.png);
  border: 5px solid #0c0c0c59;
  border-top: none;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

  .footer-rs_logo{
    .footer-rs_image{
      height: 30px;
      background-size: cover;
    }
  }

  .footer-contact{
    display: flex;

    .footer-contact_image{
      width: 18px;
      height: 18px;
      background-image: url(../icon/github-icon.png);
      background-size: cover;
    }
  }

  a{
    padding: 0 5px ;
    color: #090a22;
    text-decoration: none;
    font-family: Roboto-Bold, sans-serif;
    font-size: 1.2rem;
  }
  a:hover,
  a:active,
  a:focus{
    text-decoration: underline;
  }
}

@media(max-width:750px) and (min-width:377px){
  .container {
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: 8% auto 8%;
    grid-template-areas:
                        "header"
                        "main"
                        "footer";
    min-height: 100vh;
    background: rgba(11, 11, 19, 0.89);

    .main-modal_window_block .modal_window {
      min-width: 320px;
    }

    .modal_window .film-poster {
      display: none;
    }
  }
}

@media(max-width:376px) and (min-width:320px){
  html {
    font-size: 10px;
  }
  .container {
    grid-template-columns: 100%;
    grid-template-areas:
                        "header"
                        "main"
                        "footer";

    .main-modal_window_block .modal_window {
      min-width: 320px;
    }

    .modal_window .film-poster {
      display: none;
    }
  }
}

@media(max-width:319px) and (min-width:100px){
  html {
    font-size: 8px;
  }
  body{
  background: #25252C;
  }
  .container{
    background: #25252C;
  }
  .main > div.main-search_block {
    padding: 15px 0px 0px 0px;
  }
}
